h2{
	color: #AA4139;
	text-align: center;
	cursor:pointer ;
	border-color: red blue yellow orange;
	border-style: double;
	border-width: 4px;
}

body{
	background-image: url(dwemerruins.jpg);
	background-size: cover;
}

li{
	list-style: none;
	display:inline-block;
}

p{
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
	font-size: 125%;
	color: rgba(255,0,0,0.5);
}

#bg{
	background-color: rgba(255,0,0,0.1);
}

