body {
	width: 100%;
    margin: 0 20px;
    text-align: center;
}
div {
    height: 100px;
    display:inline-block;
}
.container{
    width: 100%
}
.header {
    margin: 20px 0px;
    width: 99%;
    background: lightblue;
    border: 3px solid black;
}
.left, .right, .center{
    border: 3px solid black;
    width:32.5%;
    height: 600px;
    margin-right: 0.1%
    margin-left:0.1%;
}
.left {
    background: red;
}
.right {
    background: yellow;
}
.center {
    background: green;
}
