body{
  background-color: rgba(0,0,205,0.8);  
}
#wrap{
	width: 1800px;
	align-content: center;
	height:600px;
	margin:auto;
}
#nav{
	background-color: rgb(173,216,230);
	float:left;
	padding:0px 5px;
	height:inherit;
}
#content{
	background-color: rgb(100,149,237);
	text-align: center;
	height:inherit;
}
#content ul{
	list-style-type: none;
}
.copyright{
	clear:left;
}
