* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.big{
    background-color: green;
    height: 300px;
    border:1px solid black;
    margin: 1.5%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 30%;
  height: 300px; /* Should be removed. Only for demonstration */
  background-image:url("elephant-cub-tsavo-kenya-66898.jpeg");
  background-size: cover;
  border:1px solid black;
  margin: 1.5%;
}
.column1 {
    flex: 30%;
    height: 300px; /* Should be removed. Only for demonstration */
    border:1px solid black;
    margin: 1.5%;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.lightblue{
    background-color: lightblue;
}